/* ----- CSS RESET ----- */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
margin: 0;
padding: 0;
}
img, fieldset {
border: 0;
}
/* set image max width to 100% */
img {
max-width: 100%;
height: auto;
}
/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

@font-face {
    font-family: 'texgyreherosbold';
    src: url('texgyreheros-bold-webfont.eot');
    src: url('texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-bold-webfont.woff2') format('woff2'),
         url('texgyreheros-bold-webfont.woff') format('woff'),
         url('texgyreheros-bold-webfont.ttf') format('truetype'),
         url('texgyreheros-bold-webfont.svg#texgyreherosbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'texgyreherosbold_italic';
    src: url('texgyreheros-bolditalic-webfont.eot');
    src: url('texgyreheros-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-bolditalic-webfont.woff2') format('woff2'),
         url('texgyreheros-bolditalic-webfont.woff') format('woff'),
         url('texgyreheros-bolditalic-webfont.ttf') format('truetype'),
         url('texgyreheros-bolditalic-webfont.svg#texgyreherosbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'texgyreherositalic';
    src: url('texgyreheros-italic-webfont.eot');
    src: url('texgyreheros-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-italic-webfont.woff2') format('woff2'),
         url('texgyreheros-italic-webfont.woff') format('woff'),
         url('texgyreheros-italic-webfont.ttf') format('truetype'),
         url('texgyreheros-italic-webfont.svg#texgyreherositalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'texgyreherosregular';
    src: url('texgyreheros-regular-webfont.eot');
    src: url('texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-regular-webfont.woff2') format('woff2'),
         url('texgyreheros-regular-webfont.woff') format('woff'),
         url('texgyreheros-regular-webfont.ttf') format('truetype'),
         url('texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
 background: url(imagens/1884200.jpg) no-repeat center center fixed;
background-size: cover;

}


.location {
 position: fixed;
    top: 50px;
    left: -1px;
    width: 355px;
    height: 30px;
    background-image: url(imagens/gallery/location-01.png);
}

.location:hover { 
    width: 400px;
   background-image: url(imagens/gallery/location-hover-02.png);
    background-repeat: no-repeat;
    left: -1px;
    
}

.menu {
 position: fixed;
 top: 450px;
 left: 0;
 width: 0px;
 height: 0px;
 list-style-type: none;
 margin: 0;
 padding: 0;
 z-index:10; 
 overflow:visible;
 background-repeat: no-repeat;
}

.menu-bar {
 position: fixed;
 top: 450px;
 left: 0;
 width: 305px;
 height: 200px;
 list-style-type: none;
 margin: 0;
 padding: 0;
 z-index:10; 
 overflow:hidden;
 background-repeat: no-repeat;
}


.menu li a{
 display: block;
 text-indent: -500em;
 height: 30px;
 width: 41px;
 position: relative;
 transition: background 0.1s ease-in-out;
 background-repeat: no-repeat;
}
.menu li a:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}
.menu li a.about:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;

}
.menu li a.video:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}
.menu li a.characters:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}
.menu li a.trivia:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}
.menu li a.gallery:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}
.menu li a.home:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}




.menu li a:hover,
.menu-bar li a:hover {
}


.menu li a.home:hover {
 background-image: url(imagens/menu/menu-escondido-coiso-01.png);
    background-size: 100%;
 width: 41px;
}

.menu li a.about:hover {
    background-image: url(imagens/menu/menu-escondido-coiso-02.png);
    background-size: 100%;
    width: 41px;
}

.menu li a.video:hover {
    background-image: url(imagens/menu/menu-escondido-coiso-05.png);
    background-size: 100%;
    width: 41px;
}

.menu li a.characters:hover {
    background-image: url(imagens/menu/menu-escondido-coiso-03.png);
    background-size: 100%;
    width: 41px;
}

.menu li a.trivia:hover {
    background-image: url(imagens/menu/menu-escondido-coiso-06.png);
    background-size: 100%;
    width: 41px;
}

.menu li a.gallery:hover {
    background-image: url(imagens/menu/menu-escondido-coiso-04.png);
    background-size: 100%;
    width: 41px;
}

.home {background-image: url(imagens/menu/menu-escondido-01.png);
background-size: 31px, 31px;}
.about {background-image: url(imagens/menu/menu-escondido-02.png);
background-size: 31px, 31px;}
.characters {background-image: url(imagens/menu/menu-escondido-03.png);
background-size: 31px, 31px;}
.gallery {background-image: url(imagens/menu/menu-escondido-04.png);
background-size: 31px, 31px;}
.video {background-image: url(imagens/menu/menu-escondido-05.png);
background-size: 31px, 31px;}
.trivia {background-image: url(imagens/menu/menu-escondido-06.png);
background-size: 31px, 31px;}

.menu-bar{
 overflow: hidden;
 left:0px;
 z-index:5;
 width:0px;
 height:30;
}

.menu-bar li a.home {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-01.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.about {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-02.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.characters {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-03.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.gallery {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-04.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.video {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-05.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.trivia {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-06.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.home:hover {
 width: 355px;
 background-image: url(imagens/menu/menu-expandido-hover-01.png);
 background-repeat: no-repeat;
 left: -1px;
}

.menu-bar li a.about:hover {
 width: 355px;
 background-image: url(imagens/menu/menu-expandido-hover-02.png);
 background-repeat: no-repeat;
 left: -1px;
}

.menu-bar li a.characters:hover {
 width: 355px;
 background-image: url(imagens/menu/menu-expandido-hover-03.png);
 background-repeat: no-repeat;
 left: -1px;
}

.menu-bar li a.gallery:hover {
 width: 355px;
 background-image: url(imagens/menu/menu-expandido-hover-04.png);
 background-repeat: no-repeat;
 left: -1px;
}

.menu-bar li a.video:hover {
 width: 355px;
 background-image: url(imagens/menu/menu-expandido-hover-05.png);
 background-repeat: no-repeat;
 left: -1px;
}

.menu-bar li a.trivia:hover {
 width: 355px;
 background-image: url(imagens/menu/menu-expandido-hover-06.png);
 background-repeat: no-repeat;
 left: -1px;
}


.open{
 width:305px;
 height:180px;
 overflow: visible;

}

.hide {
    width: 0px;
    height: 0px;
    overflow: hidden;
    
}

#menu {
    position: absolute;
    top: 350px;
    left: 0px;
    width: 320px;
    height: 330px;
    
}

#links {
    position: absolute;
    top: 600px;
    right: 0px;
    width: 142px;
    height: 30px;
}

.links {
    position: absolute;
    top: 600px;
    right: 0px;
    width: 160px;
    height: 30px;
    background-image: url(imagens/menu/links-fundo.svg);
    background-repeat: no-repeat;
}

#amazon {
    position: absolute;
    top:4px;
    right: 100px;
    width: 25px;
    height: 25px;
}

.amazon {
     position: absolute;
     height: 25px;
     background-image: url(imagens/menu/amazon.svg);
     background-repeat: no-repeat;
}

.amazon:hover {
    background-image: url(imagens/menu/amazon-hover.svg);
}


#netflix {
    position: absolute;
    top:4px;
    right: 50px;
    width: 25px;
    height: 25px;
}

.netflix {
     position: absolute;
     height: 25px;
     background-image: url(imagens/menu/netflix.svg);
     background-repeat: no-repeat;
}

.netflix:hover {
    background-image: url(imagens/menu/netflix-hover.svg);
}

#itunes {
    position: absolute;
    top:4px;
    right: 10px;
    width: 25px;
    height: 25px;
}

.itunes {
     position: absolute;
     height: 25px;
     background-image: url(imagens/menu/itunes.svg);
     background-repeat: no-repeat;
}

.itunes:hover {
    background-image: url(imagens/menu/itunes-hover.svg);
}



/* Galeria */


#slideshow-wrap {
    position: absolute;
    top: 100px;
    left: 160px;
    display: block;
    height: 530px;
    width: 950px;
    margin: auto;
    border: none;
   
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner>ul>li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
}

#slideshow-inner>ul>li>img {
    width: 100%;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}


/*
#slideshow-wrap label:not(.arrows) {
    position: absolute;
    left: 50%;
    bottom: -30px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200,200,250,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}




#slideshow-wrap label:active { bottom: -30px }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,150,1) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,150,1) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,150,1) }

#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,150,1) }

#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,150,1) }



#slideshow-wrap label[for=button-1] { margin-left: -36px }

#slideshow-wrap label[for=button-2] { margin-left: -18px }

#slideshow-wrap label[for=button-3] { margin-left: 0 }

#slideshow-wrap label[for=button-4] { margin-left: 18px }

#slideshow-wrap label[for=button-5] { margin-left: 36px }



#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }

*/






/* Fim Galeria */



/*MEDIA QUERIES*/

@media screen and (max-width: 700px){
 
    
     body {
 background: url(imagens/1Eq7Y2.png);  
background-size: 120%;

} 
    
    .location {
        display: none;
    }
    

 
    
    #links {
    position: absolute;
    top: 5%;
    right: 0px;
    width: 142px;
    height: 30px;
}

   #links {
   display: none;
}
    
    
    
    /* GALERIA */

    #slideshow-wrap {
     position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    height: 251px;
    width: 450px;
    margin: auto;
    border: none;
   
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner>ul>li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
}

#slideshow-inner>ul>li>img {
    width: 100%;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;

}

#slideshow-wrap label:not(.arrows) {
    display: none;
}

#slideshow-wrap label:active { bottom: -30px }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,150,1) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,150,1) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,150,1) }

#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,150,1) }

#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,150,1) }



#slideshow-wrap label[for=button-1] { margin-left: -36px }

#slideshow-wrap label[for=button-2] { margin-left: -18px }

#slideshow-wrap label[for=button-3] { margin-left: 0 }

#slideshow-wrap label[for=button-4] { margin-left: 18px }

#slideshow-wrap label[for=button-5] { margin-left: 36px }



#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }







/* Fim Galeria */
    
    
    
    
      @media screen and (orientation:portrait){
        #wrapper { display:none; }
        #warning-message { display:block;
            
         position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
        content: url(imagens/gallery/galleryportrait);
            
        }
          
          #menu-wrapper {
           display: block;
              position: absolute;
              
              
          }
       
   .menu {
 position: absolute;
 top: 54%;
 left: 0;
 width: 0px;
 height: 0px;
 list-style-type: none;
 margin: 0;
 padding: 0;
 z-index:10; 
 overflow:visible;
 background-repeat: no-repeat;
}

.menu-bar {
 position: absolute;
 top: 54%;
 left: 0;
 width: 305px;
 height: 200px;
 list-style-type: none;
 margin: 0;
 padding: 0;
 z-index:10; 
 overflow:hidden;
 background-repeat: no-repeat;
}
  
    
    
    .menu li a{
 display: block;
 text-indent: -500em;
 height: 30px;
 width: 41px;
 position: relative;
 transition: background 0.1s ease-in-out;
 background-repeat: no-repeat;
}
.menu li a:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}
.menu li a.about:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;

}
.menu li a.video:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}
.menu li a.characters:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}
.menu li a.trivia:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}
.menu li a.gallery:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}
.menu li a.home:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}

.menu li a.mobile:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-repeat: no-repeat;
}

   .menu li a:hover,
.menu-bar li a:hover {
}


.menu li a.home:hover {
background-image: none;
}

.menu li a.about:hover {
 background-image: none;
}

.menu li a.video:hover {
    background-image: none;
}

.menu li a.characters:hover {
   background-image: none;
}

.menu li a.trivia:hover {
   background-image: none;
}

.menu li a.gallery:hover {
    background-image: none;
}

.menu li a.mobile:hover {
    background-image: url(imagens/menu/menu-escondido-mobile.png);
}
    
.home {background-image: none;}
.about {background-image: none;}
.characters {background-image: none;}
.gallery {background-image: none;}
.video {background-image: none;}
.trivia {background-image: none;}
.mobile {background-image: url(imagens/menu/menu-escondido-mobile.png);
background-size: 31px, 31px;}

.menu-bar{
 overflow: hidden;
 left:0px;
 z-index:5;
 width:0px;
 height:30;
}

.menu-bar li a.home {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-01.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.about {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-02.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.characters {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-03.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.gallery {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-04.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.video {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-05.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.trivia {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-06.png);
    background-size: 100%;
 background-repeat: no-repeat;
}

.menu-bar li a.mobile {
 display: block; 
 overflow: hidden;
 position: relative;
 height: 30px;
 width: 305px;
 background-image: url(imagens/menu/menu-expandido-mobile.png);
background-size: 100%;
 background-repeat: no-repeat;
}

.open{
 width:305px;
 height:180px;
 overflow: visible;

}

.hide {
    width: 0px;
    height: 0px;
    overflow: hidden;
    
}

#menu {
    position: absolute;
    top: 15%;
    left: 0px;
    width: 100px;
    height: 300px;
    z-index: 5px;
    
}    

          
    }

    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
        
        #menu-wrapper {
         display: none;
        }
    }
    
}   